<div class="h-full p-12">
    <div [ngClass]="'h-1/6 content-center text-center text-5xl font-bold '+ getClassTitle()">
        <h1 class="h-full">{{course_data.id}}</h1>
    </div>
    <div class="h-5/6 space-y-8">
        <div class="h-[11%] flex w-full text-center border-b-2 border-border text-lg font-semibold px-8">
            <span [ngClass]="['w-1/2', getClassContent()]">{{course_data.id}} - {{course_data.name}}</span>
            <span class="w-1/2">Creditos:
                <span [ngClass]="[getClassContent()]">{{course_data.credits}}</span>
            </span>
        </div>
        <div class="h-5/6 flex border border-border rounded-md p-4">
            <section class="h-full flex flex-col w-1/3 border-r-2 border-border pr-4">
                <h3 class="text-3xl font-semibold py-4">Carreras</h3>
                @for(career of careers; track career.career_id) {
                    <p class="border-b border-border text-muted-foreground text-xl content-center pt-4 pb-2">{{career.career.alias}} - {{career.career.name}}</p>
                }
            </section>
            <section class="h-full w-2/3">

            </section>
        </div>
    </div>
</div>
