:host {
    width: 100%;
}

.txt-sky-200 {
    color: #bae6fd;
}

.txt-sky-400 {
    color: #38bdf8
}

.txt-green-200 {
    color: #bbf7d0;
}

.txt-green-400 {
    color: #4ade80
}

.txt-orange-200 {
    color: #fed7aa;
}

.txt-orange-400 {
    color: #fb923c
}

.txt-teal-200 {
    color: #99f6e4;
}

.txt-teal-400 {
    color: #2dd4bf
}

.txt-purple-200 {
    color: #e9d5ff
}

.txt-purple-400 {
    color: #c084fc
}

.txt-rose-200 {
    color: #fecdd3
}

.txt-rose-400 {
    color: #fb7185
}

.txt-yellow-200 {
    color: #fef08a
}

.txt-yellow-400 {
    color: #facc15
}

.txt-stone-200 {
    color: #e7e5e4
}

.txt-stone-400 {
    color: #a3a3a3
}

.txt-indigo-200 {
    color: #c7d2fe
}

.txt-indigo-400 {
    color: #818cf8
}

.txt-pink-200 {
    color: #fbcfe8
}

.txt-pink-400 {
    color: #f472b6   
}