<section id="funciones" class="py-32">
    <div class="text-white h-screen w-3/5 m-auto ">
        <h2 class="text-5xl font-semibold">¿No tienes idea de cuál carrera universitaria estudiar?</h2>
        <p class="text-gray-400 my-4 text-lg">Si no sabes cual carrera universitaria es adecuada para tí, SIASU puede ayudarte con un examen vocacional, puedes registrarte para recibir recomendaciones sobre carreras que puedan ser adecuadas para ti con base a tus preferencias e intereses.</p>
    </div>

    <div
        class="absolute top-[100vh] w-full h-screen -z-10 bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-teal-600/50 from-0% via-blue-800/50 via-35% to-[#0a0a0a] to-70%">
    </div>
    
    <div class="text-white w-3/5 m-auto my-20">
        <h2 class="text-5xl font-semibold">¿Necesitas ayuda para planificar tu carga horaria?</h2>
        <p class="text-gray-400 my-4 text-lg">Existen varios estudiantes que por razones personales, economicas o laborales no pueden cumplir con la malla curricular al ritmo que se establece. SIASU te puede ayudar a planificar materias a registrar para que no te sobrecargues durante el semestre.</p>
    </div>
    
    <div class="text-white w-3/5 m-auto my-20">
        <h2 class="text-5xl font-semibold">¿No sabes a que te dedicaras cuando finalices la carrera?</h2>
        <p class="text-gray-400 my-4 text-lg">Muchas personas terminan una carrera universitaria con la incertidumbre de que es a lo que se dedicaran despues, SIASU te ayuda a encontrar el perfil profesional que mejor se adapte a ti, a tus habilidades o incluso a tus aspiraciones economicas.</p>
    </div>
    
    <div class="absolute top-[100vh] w-full h-[300vh] -z-10 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:8rem_8rem] [mask-image:radial-gradient(ellipse_at_center,#000_10%,transparent_100%)]"></div>
</section>