<section id="funciones" class="py-32">
    <div class="text-white w-4/5 m-auto ">
        
    </div>

    <div class="text-foreground w-4/5 h-[40rem] m-auto my-20 flex justify-between gap-4 border border-border p-8 group hover:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] hover:from-yellow-900/20 hover:to-background/10 hover:border-foreground transition-colors duration-200">
        <div class="w-1/2 my-auto">
            <h2 class="text-5xl font-semibold sora">¿No tienes idea de cuál carrera universitaria estudiar?</h2>
            <p class="text-gray-400 my-4 text-lg">Si no sabes cual carrera universitaria es adecuada para tí, SIASU puede ayudarte con un examen vocacional, puedes registrarte para recibir recomendaciones sobre carreras que puedan ser adecuadas para ti con base a tus preferencias e intereses.</p>
        </div>
        <div class="rounded-md h-full w-[40rem] group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_bottom,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
            <div class="animate-slide-left group-hover:animation-pause flex flex-col gap-8 w-max">
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Computación</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Informatica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Robotica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería Biomédica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Comunicaciones y Electronica</p>
              </div>
          
              <!-- Duplicate of the above for infinite effect (you can use javascript to duplicate this too) -->
              <div class="mt-8 animate-slide-left group-hover:animation-pause flex flex-col gap-8 w-max">
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Computación</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Informatica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Robotica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería Biomédica</p>
                <p class="text-8xl text-foreground/30 w-[10ch] text-wrap">Ingeniería en Comunicaciones y Electronica</p>
              </div>
        </div>
    </div>

    <div class="text-foreground w-4/5 min-h-[40rem] m-auto my-20 flex justify-between gap-4 border border-border p-8 group hover:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] hover:from-pink-900/20 hover:to-background/10 hover:border-foreground transition-colors duration-200 group">
        <div class="w-[40rem] m-auto cursor-default grid place-items-center gap-4">
            <div class="py-2 px-4 border border-muted bg-background w-1/2 rounded">
                <div class="flex justify-between">
                    <p class="">Algoritmia</p>
                    <p class="rounded-full bg-muted-foreground/50 px-2 text-muted">4 HPS</p>
                </div>
                <p class="text-muted-foreground">Dificultad promedio: <span class="font-black">84</span></p>
            </div>
            <div class="py-2 px-4 border border-muted-foreground bg-background w-1/2 rounded ml-8 relative group-hover:shadow-[0_0px_20px_rgba(131,_24,_67,_0.7)] transition-all duration-100">
                <div class="flex justify-between">
                    <p class="">Estructura de Datos</p>
                    <p class="rounded-full bg-muted-foreground px-2 text-muted">4 HPS</p>
                </div>
                <p class="text-muted-foreground">Dificultad promedio: <span class="font-black">93</span></p>
                <img src="/assets/mac-cursor.png" alt="" srcset="" class="w-4 absolute -bottom-4 right-0">
            </div>
            <div class="py-2 px-4 border border-muted bg-background w-1/2 rounded ml-16">
                <div class="flex justify-between">
                    <p class="">Simulación por computadora</p>
                    <p class="rounded-full bg-muted-foreground/50 px-2 text-muted">4 HPS</p>
                </div>
                <p class="text-muted-foreground">Dificultad promedio: <span class="font-black">68</span></p>
            </div>
        </div>
        <div class="w-1/2 my-auto">
            <h2 class="text-5xl font-semibold sora">¿Necesitas ayuda para planificar tu carga horaria?</h2>
            <p class="text-gray-400 my-4 text-lg">Existen varios estudiantes que por razones personales, economicas o laborales no pueden cumplir con la malla curricular al ritmo que se establece. SIASU te puede ayudar a planificar tu registro de materias para que no te sobrecargues durante el semestre.</p>
        </div>
    </div>
    
    <div class="text-foreground w-4/5 min-h-[40rem] m-auto my-20 flex justify-between gap-4 border border-border p-8 group hover:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] hover:from-purple-950/20 hover:to-background/10 hover:border-foreground transition-colors duration-200">
        <div class="w-1/2 my-auto">
            <h2 class="text-5xl font-semibold sora mb-4">¿No sabes a que te dedicaras cuando finalices la carrera?</h2>
            <p class="text-muted-foreground my-4 text-xl">
                Muchas personas terminan una carrera universitaria con la incertidumbre de no saber a que se pueden dedicar, en que pueden ser buenos o que tipos de trabajos puedan gustarles. 
                <br>
                SIASU te ayuda a encontrar el perfil profesional que mejor se adapte a ti, utilizando un análisis profundo de tu historial academico y tus preferencias, podremos recomendar las mejores trayectorias profesionales para ti.
            </p>
        </div>
        <div class="rounded-md chart-container">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [title]="chartOptions.title"
                    [theme]="chartOptions.theme"
                ></apx-chart>
        </div>
    </div>
</section>