<section id="funciones" class="py-32">
    <div class="text-white h-screen w-3/5 m-auto ">
        <h2 class="text-5xl font-semibold sora">¿No tienes idea de cuál carrera universitaria estudiar?</h2>
        <p class="text-gray-400 my-4 text-lg">Si no sabes cual carrera universitaria es adecuada para tí, SIASU puede ayudarte con un examen vocacional, puedes registrarte para recibir recomendaciones sobre carreras que puedan ser adecuadas para ti con base a tus preferencias e intereses.</p>
    </div>
    
    <div class="text-white w-3/5 m-auto my-20">
        <h2 class="text-5xl font-semibold sora">¿Necesitas ayuda para planificar tu carga horaria?</h2>
        <p class="text-gray-400 my-4 text-lg">Existen varios estudiantes que por razones personales, economicas o laborales no pueden cumplir con la malla curricular al ritmo que se establece. SIASU te puede ayudar a planificar tu registro de materias para que no te sobrecargues durante el semestre.</p>
    </div>
    
    <div class="text-white w-3/5 m-auto my-20">
        <h2 class="text-5xl font-semibold sora">¿No sabes a que te dedicaras cuando finalices la carrera?</h2>
        <p class="text-gray-400 my-4 text-lg">Muchas personas terminan una carrera universitaria con la incertidumbre de que es a lo que se dedicaran despues, SIASU te ayuda a encontrar el perfil profesional que mejor se adapte a ti, a tus habilidades o incluso a tus aspiraciones economicas.</p>
    </div>
</section>