<nav class="w-full py-5 m-auto text-gray-300 px-8">
    <div class="relative w-4/5 m-auto flex justify-between">
        <a routerLink="">
            <img class="invert w-10" src="/assets/logo-min.png" alt="Logotipo SIASU" />
        </a>
        <img src="./../../../../../assets/udg.png" alt="logo UDG" class="absolute h-10 start-90 top-0 start-1/2 -translate-x-1/2">
        <div class="p-1 border border-gray-400/20 rounded bg-gray-200/20 backdrop-blur gap-2 flex">
            <a routerLink="/login">
                <button
                    class="px-4 py-2 hover:bg-gradient-to-r rounded hover:bg-gray-950/40 text-white transition-all duration-300 text-sm"
                >
                    Iniciar Sesión
                </button>
            </a>
            <a routerLink="/register">
                <button
                    class="px-4 py-2 bg-gradient-to-r from-orange-600 via-fuchsia-600 to-violet-600 bg-size-200 hover:bg-pos-100 rounded text-white transition-all duration-300 text-sm"
                >
                    Registrarme
                </button>
            </a>
        </div>
    </div>
</nav>