<div class="w-full h-full flex justify-center backdrop-blur-xl">
    <div class="w-1/4 h-full flex flex-col justify-around m-auto z-10 p-4 text-white rounded-lg">
        <a routerLink="/">
            <img class=" m-auto invert w-16" src="/assets/logo-min.png" />
        </a>

        <div>
            <p class="lg:text-5xl inter text-center font-semibold tracking-tighter">Iniciar sesión</p>
            
            <p class="text-center mt-6 text-red-300 font-bold italic">
                {{errorMessage}}
            </p>
            
            <form class="flex flex-col mt-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input
                    class="my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20
                        placeholder:italic placeholder:text-gray-400
                    " 
                    type="email" 
                    formControlName="email" 
                    name="email" 
                    placeholder="Ingresa tu dirección de correo"
                />
                <input 
                    class="my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20
                        placeholder:italic placeholder:text-gray-400
                    " 
                    type="password" 
                    formControlName="password" 
                    name="password" 
                    placeholder="Ingresa tu contraseña"
                />
    
                <button [ngClass]="{'hover:text-white': loginForm.valid, 'cursor-not-allowed': !loginForm.valid}" class="group relative text-center w-40 h-12 mt-8 m-auto overflow-hidden overflow-x-hidden rounded-md bg-gray-700/40 px-8 py-2 text-gray-400 hover:text-white transition-all duration-300">
                    <span class="relative z-10">Enviar</span>
                    <span class="absolute inset-0 overflow-hidden rounded-md">
                        @if (loginForm.valid) {
                            <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-purple-800  to-violet-800 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                        }
                    </span>
                </button>
            </form>
        </div>

        <p class="text-center mt-20 text-gray-500">
            ¿No tienes cuenta? 
            <a class="cursor-pointer text-white" routerLink="/register">Registrate</a>.
        </p>
    </div>

</div>
<div class="absolute -z-10 w-80 h-80 bg-purple-900/30 rounded-full blur-3xl top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"></div>