<div class="w-full h-full grid grid-cols-5">
    <div class="col-span-3 h-full login-image"></div>
    <div class="flex col-span-2 h-full">
        <div class="h-full w-full p-12 flex flex-col justify-start login-form text-white rounded-lg relative">
            <div class="w-full absolute top-40 left-0">
                <a routerLink="/">
                    <img class=" m-auto invert w-16" src="/assets/logo-min.png" />
                </a>
                <p class="lg:text-5xl mt-8 inter text-center font-semibold tracking-tighter">Iniciar sesión</p>
            </div>
    
            <div class="w-full m-auto">
                <p class="text-center text-red-300 font-bold italic">
                    {{errorMessage}}
                </p>
                
                <form class="flex flex-col mt-6" [formGroup]="loginForm" (submit)="onSubmit()">
                    <input
                        class="ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 my-2 py-2 px-4 bg-secondary rounded-xl border-2 border-border placeholder:italic" 
                        type="email" 
                        formControlName="email" 
                        name="email" 
                        placeholder="Ingresa tu dirección de correo"
                    />
                    <input 
                        class="
                        ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50
                            my-2 py-2 px-4 bg-secondary rounded-xl border-2 border-border
                            placeholder:italic
                        " 
                        type="password" 
                        formControlName="password" 
                        name="password" 
                        placeholder="Ingresa tu contraseña"
                    />
        
                    <button class="group relative text-center w-40 h-12 mt-8 m-auto overflow-hidden overflow-x-hidden rounded-md bg-secondary px-8 py-2 text-gray-400 hover:text-black transition-all duration-300">
                        <span class="relative z-10">Enviar</span>
                        <span class="absolute inset-0 overflow-hidden rounded-md">
                            <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-white to-gray-500 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                        </span>
                    </button>
                </form>
            </div>
    
            <p class="text-center w-full text-muted-foreground absolute bottom-4 left-0">
                ¿No tienes cuenta? 
                <a class="cursor-pointer text-foreground" routerLink="/register">Registrate</a>.
            </p>
        </div>
    
        @if (fetchStatus() === enum.completed) {
            <SuccessPopUp 
                title="¡Registro Exitoso!"
                aditionalInfo="Revisa tu correo para activar tu cuenta. Si no lo encuentras revisa tu carpeta de SPAM por un correo del equipo de SIASU."
                redirectTo="/"
            />
        } @else if (fetchStatus() === enum.error) {
            <ErrorPopUp 
                title="Tenemos dificultades"
                aditionalInfo="Tu solicitud no ha podido ser completada, todos tenemos malos dias, intenta de nuevo en unos momentos."
                [toggleValue]="enum.notSend"
                [toggleFn]="fetchStatus.set"
            />
        } @else if (fetchStatus() === enum.unauthorized) {
            <ErrorPopUp 
                title="Contraseña invalida"
                aditionalInfo="Revisa que las credenciales que ingresaste sean correctas e intentalo de nuevo."
                [toggleValue]="enum.notSend"
                [toggleFn]="fetchStatus.set"
            />
        }
    
    </div>
</div>