<div class="w-full h-full flex justify-center backdrop-blur-xl">
    <div class="w-1/4 h-full flex flex-col justify-between m-auto z-10 p-4 text-white rounded-lg">
        <a routerLink="/">
            <img class=" m-auto invert w-16" src="/assets/logo-min.png" />
        </a>

        <div class="mt-12">
            <p class="lg:text-5xl inter text-center font-semibold tracking-tighter">Registrarme</p>
            
            <p class="text-center mt-6 text-red-300 font-bold italic">
                {{errorMessage}}
            </p>

            <form class="flex flex-col mt-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <input 
                    class="my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20
                        placeholder:italic placeholder:text-gray-400
                    " 
                    type="name" 
                    formControlName="name" 
                    name="name" 
                    placeholder="Ingresa tu nombre completo"
                />
                <input 
                    class="my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20
                        placeholder:italic placeholder:text-gray-400
                    " 
                    type="email" 
                    formControlName="email" 
                    name="email" 
                    placeholder="Ingresa tu dirección de correo"
                />
                <input 
                    class="my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20
                        placeholder:italic placeholder:text-gray-400
                    " 
                    type="password" 
                    formControlName="password" 
                    name="password" 
                    placeholder="Ingresa tu contraseña"
                />
                <label class="text-center my-2 text-gray-400">
                    <input 
                        class="accent-gray-300 dark:[color-scheme:dark]" 
                        type="checkbox"
                        formControlName="isStudent"
                        name="isStudent"
                    />
                    Soy estudiante universitario de UdeG.
                </label>

                @if (registerForm.value.isStudent) {
                    <label for="career" class="w-full text-gray-400">
                        Selecciona una carrera: 
                        <select name="career" formControlName="career" class="dark:[color-scheme:dark] w-full my-2 py-2 px-4 bg-gray-700/40 rounded-xl border border-gray-400/20 text-gray-400">
                            <option class="bg-gray-700/90" value="INCO">Ingeniería en Computación</option>
                            <option class="bg-gray-700/90" value="INFO">Ingeniería en Informatica</option>
                            <option class="bg-gray-700/90" value="INRO">Ingeniería Robótica</option>
                            <option class="bg-gray-700/90" value="INBI">Ingeniería Biomédica</option>
                        </select>
                    </label>

                    <label for="admission" class="w-full text-gray-400">
                        Ingresa la fecha en la que fuiste admitido en la universidad: 
                        <input 
                            class="my-2 py-2 px-4 dark:[color-scheme:dark] decoration-transparent block w-full bg-gray-700/40 rounded-xl border border-gray-400/20 placeholder:italic placeholder:text-gray-400" 
                            type="date" 
                            formControlName="admission" 
                            name="admission" 
                        />
                    </label>
                }
    
                <button class="group relative text-center w-40 h-12 mt-8 m-auto overflow-hidden overflow-x-hidden rounded-md bg-gray-700/40 px-8 py-2 text-gray-400 hover:text-white transition-all duration-300">
                    <span class="relative z-10">Enviar</span>
                    <span class="absolute inset-0 overflow-hidden rounded-md">
                        <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-emerald-800 to-lime-700 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                    </span>
                </button>
            </form>
        </div>

        <p class="text-center mt-20 text-gray-500">
            ¿Ya tienes una cuenta? 
            <a class="cursor-pointer text-white" routerLink="/login">Inicia Sesión</a>.
        </p>
    </div>

    @if (fetchStatus === 'completed') {
        <div class="absolute z-20 w-96 h-52 p-4 text-center bg-neutral-950 border-2 border-green-400/30 rounded-lg text-gray-300 top-1/2 -translate-y-1/2">
            <div class="relative">
                <svg class="absolute w-20 top-0 right-0 translate-x-1/2 -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48">
                    <path fill="#c8e6c9" d="M44,24c0,11-9,20-20,20S4,35,4,24S13,4,24,4S44,13,44,24z"></path><polyline fill="none" stroke="#4caf50" stroke-miterlimit="10" stroke-width="4" points="14,24 21,31 36,16"></polyline>
                </svg>

                <p class="font-bold text-2xl">¡Registro exitoso!</p>
                <p class="mt-4 text-sm text-left">Revisa tu correo para activar tu cuenta. Si no lo encuentras revisa tu carpeta de SPAM por un correo del equipo de SIASU.</p>
                
                <a routerLink="/login">
                    <button class="group relative text-center w-40 h-12 mt-4 m-auto overflow-hidden overflow-x-hidden rounded-md bg-gray-700/40 px-8 py-2 text-gray-400 hover:text-white transition-all duration-300">
                        <span class="relative z-10">Ok</span>
                        <span class="absolute inset-0 overflow-hidden rounded-md">
                            <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-emerald-800 to-lime-700 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="absolute cursor-not-allowed z-10 w-full h-full bg-black/70"></div>   
    } @else if (fetchStatus === 'error') {
        <div class="absolute z-20 w-96 h-52 p-4 text-center bg-neutral-950 border-2 border-red-400/30 rounded-lg text-gray-300 top-1/2 -translate-y-1/2">
            <div class="relative">
    
                <svg class="absolute w-20 top-0 right-0 translate-x-1/2 -translate-y-1/2 fill-red-600" data-testid="geist-icon" stroke-linejoin="round" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM10.5 11.5607L9.96967 11.0303L8 9.06066L6.03033 11.0303L5.5 11.5607L4.43934 10.5L4.96967 9.96967L6.93934 8L4.96967 6.03033L4.43934 5.5L5.5 4.43934L6.03033 4.96967L8 6.93934L9.96967 4.96967L10.5 4.43934L11.5607 5.5L11.0303 6.03033L9.06066 8L11.0303 9.96967L11.5607 10.5L10.5 11.5607Z"></path></svg>

                <p class="font-bold text-2xl">Tenemos dificultades</p>
                <p class="mt-4 text-sm text-left">Tu solicitud no ha podido ser completada, todos tenemos malos dias, intenta de nuevo en unos momentos.</p>
                
                <button (click)="resetFetchStatus()" class="group relative text-center w-40 h-12 mt-4 m-auto overflow-hidden overflow-x-hidden rounded-md bg-gray-700/40 px-8 py-2 text-gray-400 hover:text-white transition-all duration-300">
                    <span class="relative z-10">Ok</span>
                    <span class="absolute inset-0 overflow-hidden rounded-md">
                        <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-red-900 to-red-600 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="absolute cursor-not-allowed z-10 w-full h-full bg-black/70"></div>
    }
</div>
<div class="absolute -z-10 w-80 h-80 bg-emerald-900/40 rounded-full blur-3xl top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"></div>