<section class="w-full h-[50rem] px-8 ">
    <div class="w-full h-full rounded-xl relative overflow-hidden group grid place-items-center">
        <div class="text-center grid place-items-center gap-4">
            <p class="text-foreground text-5xl">No esperes hasta el ultimo momento para decidir sobre tu futuro</p>
            <p class="text-foreground/80 text-3xl">Regístrate ahora y empieza a tomar las decisiones sobre tu futuro académico y profesional</p>
            <a routerLink="/register">
                <button
                    class="px-4 py-2 glow-button border border-muted-foreground rounded text-muted-foreground transition-all duration-300 text-lg"
                >
                    Registrarme
                </button>
            </a>
        </div>
        <img src="/assets/cccircular.svg" class="absolute opacity-40 grayscale group-hover:grayscale-0 transition-all duration-1000 -z-10">
    </div>
</section>
<footer class="p-4 text-muted-foreground text-center">
    <p>2024©️ El equipo de desarrollo de SIASU</p>
</footer>