<div class="h-full p-12">
    <div class="h-1/6 border-b border-border content-center">
        <h1 class="text-3xl font-bold text-foreground">Carreras</h1>
    </div>
    <div class="grid grid-cols-4 gap-8 max-h-[90%] py-4">
        @for (item of data; track item.id) {
            @if (item.id == user?.career_id) {
                <a [routerLink]="[item.id]" class="border rounded-lg border-yellow-700 bg-yellow-200/5 min-h-32 p-8 text-center content-center text-yellow-100 font-semibold text-xl">
                    {{item.alias}} - {{item.name}}
                </a>
            } @else {
                <a [routerLink]="[item.id]" class="border rounded-lg border-border bg-background min-h-32 p-8 text-center content-center text-gray-100 font-semibold text-xl">
                    {{item.alias}} - {{item.name}}
                </a>
            }
        }
    </div>
</div>
