<div class="h-full p-12">
    <div class="h-fit py-4 content-center">
        <h1 class="text-3xl font-bold text-foreground">Examen vocacional</h1>
    </div>
    <div class="flex justify-left border-b border-border">
        <button (click)="onChange('Te gusta...')" [classList]="(this.typeOfQuestions === 'Te gusta...') ? 'w-2/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200 flex gap-2 place-items-center justify-center' : 'w-2/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200 flex gap-2 place-items-center justify-center'">
            <mat-icon >videogame_asset</mat-icon> Gustos
        </button>
        <button (click)="onChange('Eres...')" [classList]="(this.typeOfQuestions === 'Eres...') ? 'w-2/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200 flex gap-2 place-items-center justify-center' : 'w-2/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200 flex gap-2 place-items-center justify-center'">
           <mat-icon>psychology</mat-icon> Personalidad
        </button>
        <button (click)="onChange('Tienes capacidad para...')" [classList]="(this.typeOfQuestions === 'Tienes capacidad para...') ? 'w-2/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200 flex gap-2 place-items-center justify-center' : 'w-2/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200 flex gap-2 place-items-center justify-center'">
            <mat-icon>engineering</mat-icon>Capacidades
        </button>
    </div>
    <form class="relative h-5/6 px-2 py-4 flex flex-col">
        <div class="h-[12%] w-full content-center text-center font-semibold text-2xl p-8">
            {{typeOfQuestions}}
        </div>
        <div class="w-full content-center border text-center border-border bg-black text-lg font-semibold p-8">
            {{questions[typeOfQuestions][indexQuestion]}}
        </div>
        <div class="flex w-fit mx-auto mt-10">
            <label class="mx-3">
                <input class="mx-2 hidden peer" name="option" id="option1" ng-control="options" type="radio" [(ngModel)]="answers[typeOfQuestions][indexQuestion]" [value]=1>
                <mat-icon class="peer-checked:text-red-600 scale-150" >
                    sentiment_very_dissatisfied
                </mat-icon>
            </label>
            <label class="mx-3">
                <input class="mx-2 hidden peer" name="option" id="option2" ng-control="options" type="radio" [(ngModel)]="answers[typeOfQuestions][indexQuestion]" [value]=2>
                <mat-icon class="peer-checked:text-red-600 scale-150" >
                    sentiment_dissatisfied
                </mat-icon>
            </label>
            <label class="mx-3">
                <input class="mx-2 hidden peer" name="option" id="option3" ng-control="options" type="radio" [(ngModel)]="answers[typeOfQuestions][indexQuestion]" [value]=3>
                <mat-icon class="peer-checked:text-purple-700 scale-150" >
                    sentiment_neutral
                </mat-icon>
            </label>
            <label class="mx-3">
                <input class="mx-2 hidden peer" name="option" id="option4" ng-control="options" type="radio" [(ngModel)]="answers[typeOfQuestions][indexQuestion]" [value]=4>
                <mat-icon class="peer-checked:text-green-600 scale-150" >
                    sentiment_satisfied
                </mat-icon>
            </label>
            <label class="mx-3">
                <input class="mx-2 hidden peer" name="option" id="option5" ng-control="options" type="radio" [(ngModel)]="answers[typeOfQuestions][indexQuestion]" [value]=5>
                <mat-icon class="peer-checked:text-green-600 scale-150" >
                    sentiment_very_satisfied
                </mat-icon>
            </label>
        </div>
        <div class="absolute bottom-[60px] border rounded-2xl border-yellow-800 h-7 flex justify-center" style="width: calc(100% - 1rem);">
            @for (answer of answers[typeOfQuestions]; track answer){
                <button (click)="change($index)" [ngClass]="['border-yellow-800 w-full', firstLastPosition($first, $last), indexAnswer($index)]"></button>
            }
        </div>
        <button (click)="onSubmit()" class="absolute group bottom-3 text-center w-40 h-10 self-end mr-5 overflow-hidden overflow-x-hidden rounded-md bg-gray-700/40 px-8 py-2 text-gray-400 hover:text-white transition-all duration-300">
            <span class="relative z-10">Enviar</span>
            <span class="absolute inset-0 overflow-hidden rounded-md">
                <span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-gradient-to-r from-purple-800  to-violet-800 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span>
            </span>
        </button>
    </form>
    @if (fetchStatus() === 'completed') {
        <SuccessPopUp 
            title="¡Envio Exitoso!"
            aditionalInfo="Tus respuestas han sido guardadas con éxito, se procesarán para la recomendación de carreras."
            redirectTo="/dashboard/vocacional/resultados"
        />
    } @else if (fetchStatus() === 'error') {
        <ErrorPopUp 
            title="Tenemos dificultades"
            aditionalInfo="Tu solicitud no ha podido ser completada, todos tenemos malos dias, intenta de nuevo en unos momentos."
            toggleValue="notSend"
            [toggleFn]="fetchStatus.set"
        />
    }
</div>