<main
  class="relative w-screen text-white bg-neutral-950 z-0 overflow-y-hidden h-screen grid place-items-center"
>
  <section
    class="inter text-center flex flex-col justify-center h-full w-4/5 m-auto"
  >
    <div class="h-1/2 flex flex-col justify-center">
      <h1 class="text-7xl">Discover your career path</h1>
      <h2 class="mt-2 text-5xl font-extralight">in a simple way.</h2>
      <p class="mt-8 text-gray-400">
        SIASU helps you to find your dream career using an aptitude-based
        recomendation system.
      </p>
      <a class="mt-10">
        <app-glowy-button buttonText="Start now" />
      </a>
    </div>
  </section>
  <div class="absolute flex flex-col text-center bottom-8 m-auto animate-bounce">
    <p class="text-gray-400 mb-2">Learn more</p>
    <svg
      class="fill-gray-400 w-4 m-auto"
      data-testid="geist-icon"
      stroke-linejoin="round"
      viewBox="0 0 16 16"
      style="color: currentcolor"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M8.74999 1.75V1H7.24999V1.75V12.4393L3.28032 8.46967L2.74999 7.93934L1.68933 9L2.21966 9.53033L7.29288 14.6036C7.68341 14.9941 8.31657 14.9941 8.7071 14.6036L13.7803 9.53033L14.3107 9L13.25 7.93934L12.7197 8.46967L8.74999 12.4393V1.75Z"
      ></path>
    </svg>
  </div>
  <div
    class="absolute inset-0 -z-10 bg-blue-700 bg-[size:20px_20px] opacity-20 blur-[100px]"
  ></div>
</main>