<main class="p-12 w-full h-full flex flex-col">
    <!-- Heading of the page -->
    <div class="border-b border-border w-full grid gap-4">
        <h2 class="text-3xl font-bold text-foreground">Configuración</h2>
        <div class="flex justify-left">
            <button (click)="changeTabValue(0)" [classList]="(this.currentTab === 0) ? 'w-1/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200' : 'w-1/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200'">Cuenta</button>
            <button (click)="changeTabValue(1)" [classList]="(this.currentTab === 1) ? 'w-1/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200' : 'w-1/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200'">Seguridad</button>
            <button (click)="changeTabValue(2)" [classList]="(this.currentTab === 2) ? 'w-1/12 p-2 font-bold border-b border-primary hover:bg-secondary animation duration-200' : 'w-1/12 p-2 text-muted-foreground hover:bg-secondary hover:text-foreground animation duration-200'">Carrera</button>
        </div>
    </div>

    <!-- Body of the configuration -->
    @if (this.currentTab === 0) {
        <section class="mt-8 bg-background rounded p-8 grid grid-cols-1 gap-4 border border-border h-full">
            <form class="h-full relative" [formGroup]="accountSettingsForm" (ngSubmit)="onAccountSettingsFormSubmit()">
                <div class="flex border-b gap-4 border-border pb-4">
                    <div class="w-1/3">
                        <p class="font-bold">Nombre</p>
                        <p class="text-muted-foreground">Modifica el nombre de tu cuenta</p>
                    </div>
                    <input 
                        type="text" 
                        formControlName="name"
                        class="flex h-10 w-full m-auto rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" 
                    />
                </div>

                <div class="flex justify-end w-full gap-4 mt-8 absolute bottom-0 right-0">
                    <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2 shrink-0">Cancelar</button>
                    <button
                        class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 w-40"
                        type="submit"
                    >
                        Guardar cambios
                    </button>
                </div>
            </form>
        </section>
        <!-- <div class="pt-4 w-2/4 m-auto h-4/5  border border-border">
            <form class="w-full h-full overflow-scroll no-scrollbar relative" >
                <div class="h-full p-4 mb-20">
                    <section class="border-b border-border py-2 w-full">
                        <h3 class="font-bold text-xl">Configuración</h3>
                    </section>
                    <details class="my-4">
                        <summary
                            class="flex border bg-secondary border-border flex-1 items-center justify-between p-4 font-medium">
                            
                            <svg class="group-hover:rotate-180" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </summary>
                        
                    </details>
                    <details class="my-4">
                        <summary
                            class="flex border bg-secondary border-border flex-1 items-center justify-between p-4 font-medium">
                            Seguridad
                            <svg class="group-hover:rotate-180" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </summary>
                        
                    </details>
                    <details class="my-4">
                        <summary
                            class="flex border bg-secondary border-border flex-1 items-center justify-between p-4 font-medium">
                            Carrera
                            <svg class="group-hover:rotate-180" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </summary>
                        <section class="p-4 grid grid-cols-1 gap-4 border border-border">
                            <div>
                                <p class="font-semibold text-lg">Carrera</p>
                                <p class="mb-2 text-sm text-muted-foreground"><span class="font-semibold">Advertencia:
                                    </span>Solo puedes modificar tu carrera una vez cada seis meses</p>
                                
                            </div>
                            <div>
                                <p class="font-semibold text-lg">Fecha de admisión</p>
                                <input type="date" value="" placeholder="8 caracteres minimo..."
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    disabled />
                            </div>
                        </section>
                    </details>
                </div>
                <div class="flex justify-end w-full gap-4 bg-secondary p-4 mt-8 sticky bottom-0 right-0">
                    <button
                        class="text-sm font-medium  text-primary/70 hover:text-primary hover:underline h-10 cursor-pointer hover:bg-black/70 justify-center whitespace-nowrap rounded-md px-6">Cancelar</button>
                    <button
                        class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 w-40"
                        type="submit">
                        Guardar cambios
                    </button>
                </div>
            </form>
        </div> -->
    } @else if (this.currentTab === 1) {
        <section class="mt-8 bg-background rounded p-8 grid grid-cols-1 gap-4 border border-border h-full">
            <form class="h-full relative" [formGroup]="securitySettingsForm" (ngSubmit)="onSecuritySettingsFormSubmit()">
                <div class="flex border-b gap-4 border-border pb-4">
                    <div class="w-1/3">
                        <p class="font-bold">Contraseña</p>
                        <p class="text-muted-foreground">Utiliza algo que puedas recordar o utiliza un gestor de contraseñas</p>
                    </div>
                    <input 
                        type="password" 
                        placeholder="8 caracteres minimo..."
                        formControlName="password"
                        class="flex h-10 w-full m-auto rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" 
                    />
        
                </div>
                <div class="flex border-b gap-4 border-border py-6">
                    <div class="w-1/3 m-auto">
                        <p class="font-bold">Confirma tu Contraseña</p>
                        <p class="text-muted-foreground">Ingresa la misma contraseña que ingresaste anteriormente</p>
                    </div>
                    <input 
                        type="password" 
                        value=""
                        formControlName="confirmationPassword" 
                        placeholder="Confirma tu contraseña..."
                        class="flex h-10 w-full m-auto rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" 
                    />
                </div>
                <div class="flex justify-end w-full gap-4 mt-8 absolute bottom-0 right-0">
                    <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2 shrink-0">Cancelar</button>
                    <button
                        class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 w-40"
                        type="submit"
                    >
                        Cambiar contraseña
                    </button>
                </div>
            </form>
        </section>
    } @else if (this.currentTab === 2) {
        <section class="mt-8 bg-background rounded p-8 grid grid-cols-1 gap-4 border border-border h-full">
            <form class="h-full relative" [formGroup]="careerSettingsForm" (ngSubmit)="onCareerSettingsFormSubmit()">
                <div class="flex border-b gap-4 border-border pb-4">
                    <div class="w-1/3 m-auto">
                        <p class="font-bold">Carrera</p>
                        <p class="text-muted-foreground">Si por alguna razón cambiaste de carrera, puedes hacerlo una vez cada 6 meses</p>
                    </div>
                    <select 
                        formControlName="career_id"
                        class="flex h-10 w-full m-auto items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1"
                    >
                        <option value="0">Sin carrera</option>
                        <option value="1">Ingeniería en Computación (INCO)</option>
                        <option value="2">Ingeniería en Computación (ICOM)</option>
                        <option value="3">Ingeniería en Informática (INNI)</option>
                        <option value="4">Ingeniería en Informática (INFO)</option>
                        <option value="5">Ingeniería en Robótica</option>
                        <option value="6">Ingeniería en Comunicaciones y Electrónica</option>
                        <option value="7">Ingeniería Biomédica</option>
                    </select>
                </div>
                <div class="flex border-b gap-4 border-border py-6">
                    <div class="w-1/3 m-auto">
                        <p class="font-bold">Fecha de admisión</p>
                        <p class="text-muted-foreground">Ingresa la fecha en la que fuiste admitido en esta carrera</p>
                    </div>
                    <input 
                        type="date" 
                        formControlName="admission"
                        class="h-10 w-full m-auto rounded-md border border-input bg-background px-3 py-2 text-sm  placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:[color-scheme:dark] decoration-transparent" 
                    />
                </div>
                <div class="flex justify-end w-full gap-4 mt-8 absolute bottom-0 right-0">
                    <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2 shrink-0">Cancelar</button>
                    <button
                        class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 w-40"
                        type="submit"
                    >
                        Cambiar carrera
                    </button>
                </div>
            </form>
        </section>
    }
</main>