/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.inter {
  font-family: "Inter";
}

.purple-shadow {
  box-shadow: 0 8px 24px 0 rgba(0, 162, 255, 0.3), 0 4px 4px 0 rgba(0, 0, 0, .15), 0 -8px 24px 0 rgba(0, 0, 255, 0.3), 0 -4px 12px 0 rgba(0, 0, 0, .12), 8px 8px 12px 0 rgba(0, 0, 255, .4) inset, -8px -8px 12px 0 rgba(0, 162, 255, .4) inset, 0 0 8px 0 rgba(255, 255, 255, .4) inset;
  transition: all;
  transition-duration: 500ms;
}

.purple-shadow:hover {
  box-shadow: 0 8px 24px 4px rgba(0, 162, 255, 0.3), 0 4px 4px 4px rgba(0, 0, 0, .15), 0 -8px 24px 4px rgba(0, 0, 255, 0.3), 0 -4px 12px 4px rgba(0, 0, 0, .12), 8px 8px 12px 4px rgba(0, 0, 255, .4) inset, -8px -8px 12px 4px rgba(0, 162, 255, .4) inset, 0 0 8px 2px rgba(255, 255, 255, .4) inset;
  transition: all;
  transition-duration: 500ms;
}

.star-background {
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700"><defs><linearGradient gradientTransform="rotate(150, 0.5, 0.5)" x1="50%" y1="0%" x2="50%" y2="100%" id="ffflux-gradient"><stop stop-color="hsl(353, 100%, 50%)" stop-opacity="1" offset="0%"></stop><stop stop-color="hsl(38, 100%, 50%)" stop-opacity="1" offset="100%"></stop></linearGradient><filter id="ffflux-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feTurbulence type="fractalNoise" baseFrequency="0.005 0.003" numOctaves="2" seed="113" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence><feGaussianBlur stdDeviation="20 0" x="0%" y="0%" width="100%" height="100%" in="turbulence" edgeMode="duplicate" result="blur"></feGaussianBlur><feBlend mode="color-burn" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" in2="blur" result="blend"></feBlend></filter></defs><rect width="700" height="700" fill="url(%23ffflux-gradient)" filter="url(%23ffflux-filter)"></rect></svg>');
}

.link-active {
  background-color: #292524;
}

.link-active > svg {
  fill: #FFFFFF;
}

.header-section {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 450"><defs><filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="130" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter></defs><g filter="url(%23bbblurry-filter)"><ellipse rx="134" ry="150" cx="164.26522518976512" cy="272.5790296757061" fill="hsla(31, 100%, 50%, 1.00)"></ellipse><ellipse rx="134" ry="150" cx="426.51005138050425" cy="213.3656144575639" fill="hsla(353, 98%, 41%, 1.00)"></ellipse></g></svg>');
  background-size: cover;
}