:host {
    width: 100%;
}

.txt-sky-200 {
    color: #bae6fd;
}

.txt-sky-400 {
    color: #38bdf8
}

.back-sky-200 {
    background-color: #bae5fdbb;
    
}
.back-sky-200:hover {
    background-color: #bae6fd;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-300 {
    background-color: #7dd3fcbb
}

.back-sky-300:hover {
    background-color: #7dd3fc;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-400 {
    background-color: #38bdf8bb
}

.back-sky-400:hover {
    background-color: #38bdf8;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-500 {
    background-color: #0ea5e9bb
}
.back-sky-500:hover {
    background-color: #0ea5e9;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-600 {
    background-color: #0284c7bb
}
.back-sky-600:hover {
    background-color: #0284c7;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-700 {
    background-color: #0369a1bb
}
.back-sky-700:hover {
    background-color: #0369a1;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-800 {
    background-color: #075985bb
}
.back-sky-800:hover {
    background-color: #075985;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-900 {
    background-color: #0c4a6ebb
}
.back-sky-900:hover {
    background-color: #0c4a6e;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.back-sky-950 {
    background-color: #082f49bb
}
.back-sky-950:hover {
    background-color: #082f49;
    transition-duration: 300ms;
    box-shadow: rgb(51, 95, 141) 0px 5px 15px;
}

.txt-green-200 {
    color: #bbf7d0;
}

.txt-green-400 {
    color: #4ade80
}

.back-green-200 {
    background-color: #bbf7d0bb;
}
.back-green-200:hover {
    background-color: #bbf7d0;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-300 {
    background-color: #86efacbb
}
.back-green-300:hover {
    background-color: #86efac;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-400 {
    background-color: #4ade80bb
}
.back-green-400:hover {
    background-color: #4ade80;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-500 {
    background-color: #22c55ebb
}
.back-green-500:hover {
    background-color: #22c55e;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-600 {
    background-color: #16a34abb
}
.back-green-600:hover {
    background-color: #16a34a;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-700 {
    background-color: #15803dbb
}
.back-green-700:hover {
    background-color: #15803d;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-800 {
    background-color: #166534bb
}
.back-green-800:hover {
    background-color: #166534;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-900 {
    background-color: #14532dbb
}
.back-green-900:hover {
    background-color: #14532d;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.back-green-950 {
    background-color: #052e16bb
}
.back-green-950:hover {
    background-color: #052e16;
    transition-duration: 300ms;
    box-shadow: rgb(51, 141, 95) 0px 5px 15px;
}

.txt-orange-200 {
    color: #fed7aa;
}

.txt-orange-400 {
    color: #fb923c
}

.back-orange-200 {
    background-color: #fed7aa;
}

.back-orange-300 {
    background-color: #fdba74
}

.back-orange-400 {
    background-color: #fb923c
}

.back-orange-500 {
    background-color: #f97316
}

.back-orange-600 {
    background-color: #ea580c
}

.back-orange-700 {
    background-color: #c2410c
}

.back-orange-800 {
    background-color: #9a3412
}

.back-orange-900 {
    background-color: #7c2d12
}

.back-orange-950 {
    background-color: #431407
}

.txt-teal-200 {
    color: #99f6e4;
}

.txt-teal-400 {
    color: #2dd4bf
}

.back-teal-200 {
    background-color: #99f6e4
}

.back-teal-300 {
    background-color: #5eead4
}

.back-teal-400 {
    background-color: #2dd4bf
}

.back-teal-500 {
    background-color: #14b8a6
}

.back-teal-600 {
    background-color: #0d9488
}

.back-teal-700 {
    background-color: #0f766e
}

.back-teal-800 {
    background-color: #115e59
}

.back-teal-900 {
    background-color: #134e4a
}

.back-teal-950 {
    background-color: #042f2e
}

.txt-purple-200 {
    color: #e9d5ff
}

.txt-purple-400 {
    color: #c084fc
}

.back-purple-200 {
    background-color: #e9d5ff
}

.back-purple-300 {
    background-color: #d8b4fe
}

.back-purple-400 {
    background-color: #c084fc
}

.back-purple-500 {
    background-color: #a855f7
}

.back-purple-600 {
    background-color: #9333ea
}

.back-purple-700 {
    background-color: #7e22ce
}

.back-purple-800 {
    background-color: #6b21a8
}

.back-purple-900 {
    background-color: #581c87
}

.back-purple-950 {
    background-color: #3b0764
}

.txt-rose-200 {
    color: #fecdd3
}

.txt-rose-400 {
    color: #fb7185
}

.back-rose-200 {
    background-color: #fecdd3
}

.back-rose-300 {
    background-color: #fda4af
}

.back-rose-400 {
    background-color: #fb7185
}

.back-rose-500 {
    background-color: #f43f5e
}

.back-rose-600 {
    background-color: #e11d48
}

.back-rose-700 {
    background-color: #be123c
}

.back-rose-800 {
    background-color: #9f1239
}

.back-rose-900 {
    background-color: #881337
}

.back-rose-950 {
    background-color: #4c0519
}

.txt-yellow-200 {
    color: #fef08a
}

.txt-yellow-400 {
    color: #facc15
}

.back-yellow-200 {
    background-color: #fef08a
}

.back-yellow-300 {
    background-color: #fde047
}

.back-yellow-400 {
    background-color: #facc15
}

.back-yellow-500 {
    background-color: #eab308
}

.back-yellow-600 {
    background-color: #ca8a04
}

.back-yellow-700 {
    background-color: #a16207
}

.back-yellow-800 {
    background-color: #854d0e
}

.back-yellow-900 {
    background-color: #713f12
}

.back-yellow-950 {
    background-color: #422006
}