<div class="border rounded-lg border-gray-400/20 bg-[#0a0a0a] h-full pw-2">
    <div class="relative h-[10%] rounded-lg content-center text-center text-5xl font-bold text-sky-400 shadow-lg shadow-">
        <span class="absolute h-full inset-0"></span>
        <p class="relative">INCO</p>
    </div>
    <div class="h-[90%] px-2 py-4 space-y-4">
        <div class="h-1/6 columns-2 w-full content-center border rounded-lg border-gray-400/20 bg-black text-lg font-semibold p-8">
            <div class="border-yellow-800 bg-yellow-200/5">Ingeniería en Computación</div>
            <div>INCO</div>
            <div class="border-yellow-800 bg-yellow-200/10">Duración: 8</div>
            <div>Creditos: Créditos</div>
        </div>
        <div class="border rounded-lg border-yellow-800 bg-yellow-200/5 h-4/6 p-8">
            Materias
            <button (ngSubmit)="onSubmit()">Hola</button>
        </div>
    </div>
</div>
